<div>
	<a href="/new">Add a Task</a>
	<% if @index
		puts @index 
		end %>

</div>

<div>
	<ul>
		Incomplete
		<% @incomplete_tasks.each do |t| %>

			<li><%= t[2] %></li>
		<form action="/delete">
			<input type="hidden" name="num" value="<%= t[3] %>">
			<input type="submit" value="Delete">
		</form>
		<% end %>
	</ul>

	<ul>
		Complete
		<% @complete_tasks.each do |t| %>

			<li><%= t[2] %></li>
		<% end %>
	</ul>
</div>