<div>
	<a href="/new">Add a Task</a>
</div>

<div>
	<ul>
		All
		<% @tasks.each do |t| %>

			<li><%= t %></li>
		<% end %>
	</ul>

	<ul>
		Incomplete
		<% @incomplete_tasks.each do |t| %>

			<li><%= t %></li>
		<% end %>
	</ul>

	<ul>
		Complete
		<% @complete_tasks.each do |t| %>

			<li><%= t %></li>
		<% end %>
	</ul>
</div>