<form action="/addTask">
	<input type="text" name="task"><br>
	<input type="radio" name="person" value="Rachel">Rachel<br>
	<input type="radio" name="person" value="Tyler">Tyler<br>
	<input type="submit">
</form>