<form action="/addTask">
	<input type="text" name="newTask"><br>
	<input type="radio" name="name" value="Rachel">Rachel<br>
	<input type="radio" name="name" value="Tyler">Tyler<br>
	<input type="submit">
</form>